<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.planeticket.mapper.AirlineInfoMapper">
    <select id="getInfoList" resultType="com.scu.planeticket.pojo.dto.GetAirlineInfoListRespDTO">
--         select a.airport_id, a.airport_name as title, b.city_name, a.airport_code, a.longitude, a.latitude
--         from airport_info a left join city_info b on a.city_id = b.city_id
SELECT ai.*, al.* FROM airline_info AS ai INNER JOIN airline_alliance_info AS al ON ai.alliance_id = al.alliance_id;
    </select>
</mapper>
