<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.planeticket.mapper.PredictPriceInfoMapper">

    <select id="selectRecommendDest" parameterType="com.scu.planeticket.pojo.dto.FlightRecommendDestReqDTO"
            resultType="com.scu.planeticket.pojo.dto.FlightRecommendDestRespDTO$MapInfo">
        select q.longitude, q.latitude, p.price, r.city_name
        from (select dest_airport, price
              from predict_price_info
              where start_airport in
                    (select a.airport_code
                     from airport_info as a,
                          (select city_id
                           from city_info
                           where city_name = #{departureCity}) as b
                     where a.city_id = b.city_id)
                and date = #{date}) as p
                 join airport_info as q on p.dest_airport = q.airport_code
                 join city_info as r on q.city_id = r.city_id;
    </select>

</mapper>
