<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.planeticket.mapper.UserInfoMapper">
    <resultMap id="DifUser" type="com.scu.planeticket.pojo.entity.UserInfo">
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"></result>
    </resultMap>
<!--    id指定接口方法的名称    -->
    <insert id="insert">
        INSERT INTO user_info(user_name,password) values (#{userName},#{password})
    </insert>

    <select id="findByUsername" resultMap="DifUser">
        SELECT * FROM user_info WHERE user_name=#{userName}
    </select>
    <delete id="deleteById">
        DELETE FROM user_info WHERE user_id=#{userId}
    </delete>

    <update id="update">
        update user_info set user_name=#{userName} where user_id=#{userId}
    </update>
</mapper>
